page-home {


	body {
		height: 100%;
	}

#colHolder {

	height: 80vh;
	
	width:100%;

	
    
}

#logListCol {
	height:100%;
	width: 25%;
	float: left;

}

#logCol {
	width:75%;
	
	height: 80vh;
}

#footer {

	background-color: yellow;
	width: 100%;
	height: 15vh;
}

}
